<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length>0){ %>

                <ul>
                <% products.forEach(p=>{ %>
                    <p><li><%= p.productId.title %> ==> Qty: <%= p.quantity %></li></p>
                    <form action="/cart/delete-product" method="post">
                        <input type="hidden" name="productId" value="<%= p.productId._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <button class="btn" type="submit">Delete</button>
                    </form>
                    <% }) %>
                </ul>
                <div class="center">
                    <form action="/create-order" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <button class="btn" type="submit">Create Order</button>
                    </form>
                </div>
                <hr>
                <!-- this is extra -->
                <% }else{ %>
                    <h1>No product in the cart</h1>
                    <% } %>
        </main>
        <%- include('../includes/end.ejs') %>